* {
	margin:0;
	padding:0;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: cadetblue;
}

#game-container {
	width:100%;
	height:100%;
	position:absolute;
}

#console-out, #console-in {
	margin: auto;
	display: block;
	width: 50%;
	color: #4cff00;
	background-color: #000;
	border: none;
}

#console-in {
	resize:none;
	outline:none;
}

#console-out {
	margin-top: 10em;
	height: 50%;
}